

:root{
    --pale-blue:hsl(225, 100%, 94%);
    --bright-blue:hsl(245, 75%, 52%);
    --very-pale-blue:hsl(225, 100%, 98%);
    --desaturated-blue:hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --familie: 'Red Hat Display', sans-serif;
    --fs-base:16px;
    --weight-normal:500;
    --weight-bold:700;
    --weight-extra-bold:900;

}